.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 16px;
  margin-top: 20px;
  width: 100%;
}

.card {
  height: 341px;
  width: 220px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}