.modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(32px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5%;
}