.player-selection-page {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    margin-top: 50px;

  }

  &__desc {
    font-size: 16px;
    line-height: 18px;
    margin: 5px 0;
    color: var(--color-grey);
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 20px;
    width: 100%;
  }

  &__card {
    height: 341px;
  }

  &__input {
    margin-top: 50px;
    width: 100%;
  }

  &__label {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--color-grey);
  }

  &__wrapper-input {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 16px;
  }
}
