:root {
  --round-results-card-gap: 10px;
  --round-results-card-width: 150px;
  --round-results-card-height: calc(var(--round-results-card-width) / 0.666);
}

.round-results {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 30px;
    line-height: 30px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--round-results-card-gap);
    margin-top: 50px;
  }

  &__card {
    width: var(--round-results-card-width);
    height: var(--round-results-card-height);

    &_primary {
      grid-column: 1 / 3;
      width: calc(var(--round-results-card-width) * 2 + var(--round-results-card-gap));
      height: calc(var(--round-results-card-height) * 2);
    }
  }

  &__leading-block {
    margin-top: 50px;
  }
}
